<!DOCTYPE html>
<html>
<head>
  <title>ARTANIS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

  <header>
    <div class="col-xs-3">
      <%= link_to root_path, class: 'home-link' do %>
      <div class="cube" style="">
        <div class="front" style="">
        </div>
        <div class="back" style="">
        </div>
        <div class="right" style="">
        </div>
        <div class="left" style="">
        </div>
        <div class="top" style="">
        </div>
        <div class="bottom" style="">
        </div>
      </div>
      <% end %>

    </div>  
    <div class="col-sm-6 hidden-xs slogan">
      <%= link_to root_path, class: 'home-link' do %>
      <span class="slogan">ARTANIS</span> - providing you with your favorite game quotes since 2016
    </div>  
    <% end %>
    <div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-3 links">
      <!-- Link trigger modal -->
      <%= link_to 'Contribute', '#', data: {toggle: 'modal', target: '#myModal'} %>
      &nbsp;&nbsp;
      <%= link_to 'About', about_path %>
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
    </div>
  </header>


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Contribute Your Quote</h4>
        </div>
        <%= simple_form_for Quote.new do |f| %>
        <div class="modal-body">
          <%= f.input :saying, label: "Game quote that you would like to add?", placeholder: "If I have wings, why am I always walking?" %>
          <br />
          <%= f.input :author, label: "Character that said this quote?", placeholder: 'Dreadlord' %>
          <br />
          <%= f.input :source, label: "Name of game?", placeholder: 'Warcraft 3' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit 'Add Quote', class: 'btn btn-danger' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>


  <br class="clear" />
  <hr class="clear hr" />
  <br class="clear" />


  <div class="container">
    <% if flash[:error].present? %>
    <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
      <%=flash[:error].html_safe %>
          </div>
      <% elsif flash[:success].present? %>
      <div class="col-xs-10 col-xs-offset-1 alert alert-success">
        <%=flash[:success].html_safe %>
      </div>

    <% end %>

    <%= yield %>
  </div>

  <div class="footer">
   <div class ="col-xs-12 col-sm-12">
    <%= link_to "Show me a random quote", root_path, class: 'button' %>
  </div>
  <div class="col-xs-12 col-sm-12">
    Developed by Jonathan Ong
  </div>
</div>


</body>
</html>
